select {
    display: inline-block;
    height:30px;
    width: 250px;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff; 
}
.dados{
    margin:10px 0;
}
.row.dados{
    clear:both;
}
.row.dados:after{
    clearo:both;
    content:".";
    display:block;
    overflow:hidden;
    height:0;
}
.dados div{
    height:80px;
    padding:5px 0 0 0;
    width:250px;
    font-weight:bold;
    text-align:center;
    margin:0 10px 10px 0;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff; 
}
.dados div span{
    display:block;
    font-size:2em;
}


@media (min-width: 320px) and (max-width: 480px) {
    .form-control.ml-4.mr-2{
        margin-right:0.5rem !important;
        width:80%;
    }
    .form-control.ml-4{
        margin-left:0 !important;
    }
    .row.dados div{
        float:none;
        margin:10px auto;
    }
    .dados{
        margin:10px auto;
    }
}
@media (min-width: 481px) and (max-width: 991px) {
    .row{
        display:block;
    }
    .row.dados div{
        float:none;
        margin:10px auto;
        clear:both;
    }
    .form-control.ml-4.mr-2{
        width:80% !important;
    }
    .form-control.ml-4{
        margin-left:0 !important;
    }
    .dados{
        margin:10px auto;
    }
}